D:\DSMP\Resume Versions\VinayakResume1.pdf
D:\DSMP\Resume Versions\VinayakResumee.docx
D:\DSMP\Resume Versions\VinayakResumee.pdf
D:\DSMP\12. Interview\level 0\Behavioural.txt
D:\DSMP\12. Interview\level 0\Python.txt