<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP App</title>
</head>
<body>
    <h1>NLP App</h1>
    {% if message %}
        <p style="color:red">{{message}}</p>
    {% endif %}
    <h3>Register here</h3>

    <form action='/perform_registration' method = 'post'>
        <label>Name</label><br>
        <input type = 'text' name = 'username' required>  <br>
        <label>Email</label><br>
        <input type = 'email' name = 'user_email' required><br>
        <label>Password</label><br>
        <input type = 'password' name = 'user_password' required><br><br>
        <input type = 'submit' , value="Register">
    </form>

    <p>Already a member? <a href = "/">Login Here</a></p>

</body>
</html>